html,
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  color: #55595e;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #f2f2f2;
}
img {
  border: 0;
  width: 100%;
}
ul {
  list-style-type: none;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #39b8ea;
}
a.active {
  color: #39b8ea;
}
table {
  margin: 10px 0;
  border-collapse: collapse;
}
table td {
  padding: 2px;
  border: 1px solid  #ddd;
  font-size: 13px;
}
table th {
  padding: 5px;
  border: 1px solid  #ddd;
  background-color: #eee;
  font-size: 14px;
  text-align: center;
}
table tbody tr:nth-child(2n) {
  background-color: #dff0d8;
}
.footer {
  padding: 30px 0;
  font-weight: bold;
  font-size: 12px;
}
.footer p {
  margin: 0;
  padding: 0 10px;
}
.footer a {
  color: #0088cc;
}
.footer .theme {
  float: right;
}
.pagination {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.pagination a {
  color: #0088cc;
}
.pagination a:hover {
  color: #39b8ea;
}
.pagination a.disble {
  cursor: default;
  color: #55595e;
}
.pagination .page-number {
  padding: 0 10px;
}
.pagination .prev,
.pagination .next {
  padding: 0 10px;
}
.pagination .post-prev {
  float: left;
}
.pagination .post-next {
  float: right;
}
.container.animate-prepare {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.container.animate-prepare::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: .7;
  z-index: 997;
}
.container.animate-prepare .main {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: all 0.5s ease-in-out;
}
.main {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  margin-left: 300px;
  max-width: 1000px;
  padding: 30px;
}
.main.push {
  -webkit-transform: translate3d(0, 0, -50px);
  transform: translate3d(0, 0, -50px);
}
.main.rotete {
  -webkit-transform: rotateY(-6deg);
  transform: rotateY(-6deg);
}
.main .top-bottom {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 996;
  text-align: center;
  cursor: pointer;
}
.main .top-bottom div {
  width: 40px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.main .top-bottom div:hover {
  background-color: #333333;
}
.main .top-bottom div:hover i {
  color: #ffffff;
}
.main .top-bottom div.show {
  animation: fadein 0.5s ease-in-out both;
}
.main .top-bottom div.hide {
  animation: fadeout 0.5s ease-in-out both;
}
.main .top-bottom .to-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.main .top-bottom .to-bottom {
  margin-top: -1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main .top-bottom i {
  display: block;
  font-size: 16px;
  margin-top: 5px;
}
.icon-menu {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #006699;
  cursor: pointer;
  z-index: 998;
}
.header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 998;
  transition: all 0.5s ease-in-out;
}
.header.open-menu {
  transform: translate3d(0, 0, 0);
}
.header .top {
  width: 100%;
  height: 160px;
  background: url(/img/headerTop.png) no-repeat;
  background: url(/img/headerBg.jpg) no-repeat;
  background-size: 100%;
}
.header h2 {
  margin-bottom: 5px;
  font-size: 24px;
  letter-spacing: 3px;
}
.header h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}
.header .menu {
  margin: 20px 0;
}
.header .menu a {
  display: block;
  padding: 10px;
}
.header .menu a .icon-home {
  font-size: 17px;
}
.header .state {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.header .state a {
  display: inline-block;
  margin-left: -1px;
  width: 33.33%;
  padding: 15px 0;
  font-size: 16px;
  border-left: 1px solid #ededed;
}
.header .social {
  padding-top: 15px;
}
.header .social a {
  position: relative;
  padding: 10px;
  font-size: 24px;
}
.header .social a:hover::before {
  position: absolute;
  left: 15px;
  top: 2px;
  content: '';
  border-style: solid;
  border-color: #4d4d4d transparent transparent transparent;
  border-width: 5px;
}
.header .social a:hover::after {
  position: absolute;
  top: -15px;
  left: 5px;
  padding: 2px 5px;
  content: attr(title);
  border-radius: 2px;
  background-color: #4d4d4d;
  color: #ffffff;
  font-size: 12px;
}
.post-list {
  box-sizing: border-box;
}
.post-list .post {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.post-list .post-inner {
  padding: 0 30px;
}
.post-list .post-title {
  margin: 0;
  padding: 30px 0 0;
  font-size: 30px;
}
.post-list .post-banner {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  height: 270px;
  width: 100%;
  padding: 30px;
  background-size: 100%;
}
.post-list .post-banner:hover {
  opacity: .6;
}
.post-list .post-banner .post-title {
  padding: 0;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.post-list .post-info {
  margin: 20px 0;
  font-size: 13px;
  color: #607c8a;
}
.post-list .post-info time {
  margin-right: 10px;
}
.post-list .post-content {
  overflow: hidden;
  font-size: 16px;
  line-height: 30px;
}
.post-list .post-content p {
  text-indent: 2em;
}
.post-list .post-content p img {
  display: block;
}
.post-list .post-content p em {
  color: #0088cc;
}
.post-list .post-content h2 {
  border-bottom: 2px solid #666666;
}
.post-list .post-more {
  display: inline-block;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  color: #0088cc;
}
.post-list .post-more:hover {
  color: #39b8ea;
}
.post-list .post-footer {
  border-top: 1px solid #ededed;
  padding: 20px 0;
  font-size: 15px;
  color: #607c8a;
}
.post-list .tags a {
  padding: 2px 5px;
}
.post-list .share {
  position: relative;
  padding-bottom: 10px;
  float: right;
}
.list {
  box-sizing: border-box;
  min-height: calc(100% - 160px);
  padding: 30px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.list h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
}
.list h4 {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
.list.tag-list a {
  margin: 10px;
  display: inline-block;
}
.list.tag-list a.small {
  font-size: 16px;
  color: #999999;
}
.list.tag-list a.middle {
  font-size: 26px;
  color: #737373;
}
.list.tag-list a.big {
  font-size: 36px;
  color: #4d4d4d;
}
.list.tag-list a:hover {
  color: #39b8ea;
  border-bottom: 1px solid #39b8ea;
}
.list.category-list ul {
  margin: 0;
}
.list.category-list li {
  margin: 10px 0;
  font-size: 18px;
  font-family: monaco, 'Andale Mono';
}
.list.category-list span {
  font-size: 14px;
  color: #a6a6a6;
}
.list.category-list span::before {
  content: " (";
}
.list.category-list span::after {
  content: ") ";
}
.list.archive-list .desc {
  position: relative;
  text-align: left;
  padding: 0 0 20px 20px;
}
.list.archive-list .desc::before {
  position: absolute;
  top: 7px;
  left: -7px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #39b8ea;
}
.list.archive-list .archive-inner {
  margin: 30px 0 30px 30px;
  border-left: 4px solid #e6e6e6;
}
.list.archive-list .archive-year {
  position: relative;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 30px;
  color: #607c8a;
  animation: yearshow 0.5s ease-in-out both;
}
.list.archive-list .archive-year::before {
  position: absolute;
  top: 14px;
  left: -7px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #607c8a;
}
.list.archive-list .archive-post {
  position: relative;
  padding: 20px 0 10px 20px;
  border-bottom: 1px dashed #e6e6e6;
  cursor: pointer;
}
.list.archive-list .archive-post::before {
  position: absolute;
  top: 30px;
  left: -5px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #999999;
}
.list.archive-list .archive-post:hover {
  color: #39b8ea;
}
.list.archive-list .archive-post:hover::before {
  background-color: #39b8ea;
}
.list.archive-list .archive-post:hover .post-tags {
  display: inline-block;
}
.list.archive-list .post-time {
  float: left;
  margin-top: 6px;
  font-size: 16px;
  color: #999999;
}
.list.archive-list .post-detail {
  margin-left: 60px;
  line-height: 32px;
}
.list.archive-list .post-title {
  display: inline;
  font-size: 18px;
  font-weight: normal;
}
.list.archive-list .post-tags {
  display: none;
  color: #999999;
  font-size: 12px;
  height: 30px;
}
.list.archive-list .post-tags span {
  padding: 0 5px;
}
.popup-overlay,
.share-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.share-overlay .share-arrow {
  position: relative;
  margin: 10px 15px 0 auto;
  float: right;
  width: 80px;
  height: 90px;
  color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 90px 100px;
}
.share-overlay .share-arrow::before {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  transform-origin: top right;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.share-overlay .share-arrow::after {
  position: absolute;
  top: 0;
  right: -1px;
  content: " ";
  width: 10px;
  height: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  transform-origin: top right;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.share-overlay .share-tip {
  text-align: right;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 90px;
}
.search-popup {
  overflow: hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 600px;
  height: 80%;
  margin-left: -300px;
  z-index: 1000;
  background: #ffffff;
  color: #333333;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.search-popup.show {
  animation: searchshow 0.3s ease-in-out both;
}
.search-popup.hide {
  animation: searchhide 0.3s ease-out both;
}
.search-top {
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #cccccc;
}
.search-icon {
  box-sizing: border-box;
  float: left;
  width: 50px;
  text-align: center;
  font-size: 20px;
  color: #808080;
}
.search-input {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 50px;
  padding-right: 10px;
}
.search-input input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  font-size: 18px;
  color: #4d4d4d;
}
.search-close {
  box-sizing: border-box;
  float: right;
  width: 50px;
  border-left: 1px solid #cccccc;
  text-align: center;
  font-size: 20px;
  color: #808080;
  cursor: pointer;
}
.search-content {
  height: calc(100% - 80px);
  overflow: auto;
  padding: 10px 30px 30px;
  font-family: monaco, 'Andale Mono';
}
.search-tip {
  margin: 0 0 10px;
  padding: 5px 0;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #e6e6e6;
  color: #666666;
}
.search-tip span {
  color: #39b8ea;
}
.search-result {
  font-size: 16px;
}
.search-result p {
  margin: 0;
  padding: 5px 0;
}
.search-link {
  display: block;
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 10px;
}
.search-link:hover {
  border-bottom-color: #4d4d4d;
}
.search-link:hover .search-title {
  color: #39b8ea;
}
.search-link em {
  font-style: normal;
  font-weight: bold;
  color: #eb4747;
}
.search-title {
  color: #607c8a;
}
.search-info {
  font-size: 12px;
  color: #666666;
}
.search-pagination {
  margin: 20px 0;
  text-align: center;
}
.search-pagination span,
.search-pagination a {
  padding: 0 8px;
}
.search-pagination a {
  color: #0088cc;
}
.search-pagination a:hover {
  color: #39b8ea;
}
.share-popup {
  display: none;
  position: absolute;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  z-index: 996;
}
.share-popup::before {
  position: absolute;
  top: -12px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
}
.share-popup::after {
  position: absolute;
  top: -11px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent #ffffff transparent;
}
.share-input {
  padding: 8px 0;
  border-bottom: 1px solid #f2f2f2;
}
.share-input input {
  font-size: 14px;
  color: #808080;
  width: 90%;
  border: none;
  outline: none;
}
.share-icons {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}
.share-icons a {
  display: inline-block;
  padding: 6px 12px;
  font-size: 20px;
}
.share-icons a:hover {
  background-color: #333333;
}
.share-icons a:hover i {
  color: #fff;
}
.share-icons a:nth-child(4n+1):hover {
  background-color: #39b8ea;
}
.share-icons a:nth-child(4n+2):hover {
  background-color: #607c8a;
}
.share-icons a:nth-child(4n+3):hover {
  background-color: #eb4747;
}
.share-icons a:nth-child(4n+4):hover {
  background-color: #e66b5b;
}
.wxshare-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  padding: 20px;
  margin-left: -120px;
  text-align: center;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  z-index: 1000;
}
.wxshare-popup .close {
  float: right;
}
.wxshare-popup p {
  margin-top: 0;
}
.payme {
  display: none;
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: -130px;
  width: 260px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  z-index: 1000;
}
.payme .icon-cancel {
  position: absolute;
  right: 5px;
  padding: 10px;
  cursor: pointer;
}
.payme img {
  width: 200px;
  height: 200px;
}
.payme.show {
  animation: payshow 0.3s ease-in-out both;
}
.payme.hide {
  animation: payhide 0.3s ease-in-out both;
}
.pay-title {
  font-size: 16px;
  color: #4d4d4d;
}
.pay-title i {
  font-size: 18px;
}
.pay-selects {
  padding: 15px 0;
}
.pay-selects label {
  line-height: 10px;
  cursor: pointer;
}
.pay-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background-color: #39b8ea;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.pay-icon:hover {
  font-size: 22px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.img-placeholder {
  width: 99.5%;
  height: 250px;
  border: 1px solid #f2f2f2;
}
html body > #ygt-fix-wrap-1415 > #ygt-input-bar-1415 {
  z-index: 997;
}
@keyframes searchshow {
  0% {
    top: -100%;
    opacity: 0;
  }
  80% {
    top: 15%;
    opacity: .9;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}
@keyframes searchhide {
  100% {
    top: -100%;
    opacity: 0;
  }
}
@keyframes payshow {
  0% {
    top: -20%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}
@keyframes payhide {
  100% {
    top: -20%;
    opacity: 0;
  }
}
@keyframes yearshow {
  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes listshow {
  0% {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@media (max-width: 961px) {
  .icon-menu {
    display: block;
  }
  .header {
    transform: translate3d(-100%, 0, 0);
  }
  .main {
    padding: 10px;
    margin-left: 0;
  }
  .post-list .post-inner {
    padding: 0 20px;
  }
  .search-popup {
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 0;
  }
  @keyframes searchshow {
    0% {
      top: -100%;
      opacity: 0;
    }
    80% {
      top: 5%;
      opacity: .9;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
}
@media (max-width: 481px) {
  .header {
    width: 240px;
  }
  .header .top {
    height: 120px;
  }
  .header .social a {
    padding: 5px;
  }
  .main {
    padding: 0;
  }
  .post-list .post {
    border-radius: 0;
  }
}
